/LIghtingExplorer/lighting-backend/.vs/lighting-backend/v14/*.suo
/LIghtingExplorer/lighting-backend/ipch/LIGHTING-BACKEND-4c09dda6/*.ipch
/LIghtingExplorer/lighting-backend/*.opendb
/LIghtingExplorer/lighting-backend/*.db
/LIghtingExplorer/lighting-backend/x64/Debug/*.obj
/LIghtingExplorer/lighting-backend/x64/Debug/*.exe
/LIghtingExplorer/lighting-backend/x64/Debug/*.ilk
/LIghtingExplorer/lighting-backend/x64/Debug/*.log
/LIghtingExplorer/lighting-backend/x64/Debug/*.pch
/LIghtingExplorer/lighting-backend/x64/Debug/*.pdb
/LIghtingExplorer/lighting-backend/x64/Debug/lighting-backend.tlog/*.tlog
/LIghtingExplorer/lighting-backend/x64/Debug/lighting-backend.tlog/*.lastbuildstate
/LIghtingExplorer/lighting-backend/x64/Debug/*.idb
/LocallyLinearEmbedding/.vs/LocallyLinearEmbedding/v14/*.suo
/LocallyLinearEmbedding/BaseCodeApp/obj/x64/Debug/*.resources
/LocallyLinearEmbedding/BaseCodeApp/obj/x64/Debug/*.txt
/LocallyLinearEmbedding/BaseCodeApp/obj/x64/Debug/*.Cache
/LocallyLinearEmbedding/BaseCodeApp/obj/x64/Debug/*.cache
/LocallyLinearEmbedding/BaseCodeApp/obj/x64/Debug/*.exe
/LocallyLinearEmbedding/BaseCodeApp/obj/x64/Debug/*.pdb
/LocallyLinearEmbedding/BaseCodeApp/obj/x64/Release/*.resources
/LocallyLinearEmbedding/BaseCodeApp/obj/x64/Release/*.txt
/LocallyLinearEmbedding/BaseCodeApp/obj/x64/Release/*.Cache
/LocallyLinearEmbedding/BaseCodeApp/obj/x64/Release/*.exe
/LocallyLinearEmbedding/BaseCodeApp/obj/x64/Release/*.pdb
/LocallyLinearEmbedding/BaseCodeApp/obj/x64/Release/*.cache
/LocallyLinearEmbedding/BaseCodeDLL/*.user
/LocallyLinearEmbedding/BaseCodeDLL/x64/Debug/*.obj
/LocallyLinearEmbedding/BaseCodeDLL/x64/Debug/*.log
/LocallyLinearEmbedding/BaseCodeDLL/x64/Debug/*.pch
/LocallyLinearEmbedding/BaseCodeDLL/x64/Debug/BaseCodeDLL.tlog/*.lastbuildstate
/LocallyLinearEmbedding/BaseCodeDLL/x64/Debug/BaseCodeDLL.tlog/*.tlog
/LocallyLinearEmbedding/BaseCodeDLL/x64/Debug/*.idb
/LocallyLinearEmbedding/BaseCodeDLL/x64/Debug/*.pdb
/LocallyLinearEmbedding/BaseCodeDLL/x64/Release/*.obj
/LocallyLinearEmbedding/BaseCodeDLL/x64/Release/*.pch
/LocallyLinearEmbedding/BaseCodeDLL/x64/Release/*.log
/LocallyLinearEmbedding/BaseCodeDLL/x64/Release/BaseCodeDLL.tlog/*.lastbuildstate
/LocallyLinearEmbedding/BaseCodeDLL/x64/Release/BaseCodeDLL.tlog/*.tlog
/LocallyLinearEmbedding/BaseCodeDLL/x64/Release/*.pdb
/LocallyLinearEmbedding/*.opendb
/LocallyLinearEmbedding/*.db
/LocallyLinearEmbedding/bin/*.png
/LocallyLinearEmbedding/PaletteCache/*.txt
/LocallyLinearEmbedding/bin
/Images
/LIghtingExplorer/lighting-backend/x64/Release
/LocallyLinearEmbedding/BaseCodeDLL/Console.txt
/LocallyLinearEmbedding/VideoCache/*.dat
/LocallyLinearEmbedding/ipch/BASECODEDLL-263ff8d7/*.ipch
/LIghtingExplorer/lighting-backend/x64/Debug/lighting-backend.tlog/unsuccessfulbuild
/interactiveRecoloring/.vs
/interactiveRecoloring/ipch
/interactiveRecoloring/x64
/interactiveRecoloring/*.opendb
/interactiveRecoloring/*.db
/interactiveRecoloring/examples
/interactiveRecoloring/viz
/interactiveRecoloring/recolorizer - Copy.cpp
/interactiveRecoloring/recolorizer - Copy.h
/interactiveRecoloringUI/staging
/interactiveRecoloringUI/interactiveRecoloringUI/bin/Debug
/interactiveRecoloringUI/interactiveRecoloringUI/obj/Debug
